div {
	text-align:center;
	}
    div#bandeau {
        width:600px;
        height:50px;
        background-color:#00CCFF;
        }
    div#contenu {
        width:600px;
        height:400px;
        background-color:#FFCC00;
        }
    div#piedpage {
        width:600px;
        height:50px;
        background-color:#33FF99;
        }