p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .10rem;
}

label,
footer {
    font-family: sans-serif;
}

.label1{
    font-size: 1rem;
    padding-right: 60px;
}
.label3{/**/
    font-size: 1rem;
    padding-right: 50px;
}

.label2{/*nom*/
    font-size: 1rem;
    padding-right: 72px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.p1{
 margin: 5px 120px 0px;
}
.p2{
    margin: 5px 120px 0px;
   }

.label4{/*Telephone*/
    font-size: 1rem;
    padding-right: 35px;
}
.label5{/*E-mail*/
    font-size: 1rem;
    padding-right: 65px;
}


