div {
	text-align:center;
	}
    div#bandeau {
        width:600px;
        height:50px;
        background-color:#00CCFF;
        }
    div#contenu {
        width:600px;
        height:400px;
        background-color:#FFCC00;
        float:left;
        }
    div#piedpage {
        width:600px;
        height:50px;
        background-color:#33FF99;
        clear:both;
        }
        div#menu {
            float:left;
            width:100px;
            height:400px;
            background-color:#FF6699;
            }